
body {
    margin: 0;
    font-family: 'Fors Trial';
    
}


.header {
    background-image: url(../images/bg_header_index.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
}

.header__container {
    width: 1520px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}


.header__menu {
  background-image: url(../images/bg_menu.png);
  max-width: 1520px;
  height: 80px;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Fors Trial Rg';
  
  display: flex;
  justify-content: space-between; 
  align-items: center;

  /* ИСПРАВЛЕНИЕ ОТСТУПОВ: */
  /* Слева 60px. Справа 28px + 32px (отступ ссылки) = визуально 60px */
  padding: 0 28px 0 60px; 
  
  margin: 0 auto;
  position: fixed;
  top: 53px;
  width: 100%;
  
  /* ЦЕНТРИРОВАНИЕ ПЛАШКИ: */
  left: 0;
  right: 0;
  
  z-index: 1000;
  font-weight: 300;
  box-sizing: border-box; 
}

.header__nav a {
  color: black;
  text-decoration: none;
  margin: 32px;
  text-underline-offset: 4px;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__text {
    margin-top: 150px;
    margin-bottom: 5%;
    max-width: 900px;
    color: white;
}

.header__title h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25px;
    margin-top: 0;
}

.header__description p {
    font-size: 30px;
    font-weight: 100;
    line-height: 1.4;
    font-family: 'Fors Trial Rg';
}


.mobile-nav-container {
    display: none;
}


.main-container {
    background-color: #FFFFFF;
    border-radius: 50px;
    position: relative;
    margin-top: -5%;
    padding-bottom: 50px;
    z-index: 10;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
}

.characteristics {
    min-height: 160px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-image: url(../images/characteristics.svg);
    margin-top: 40px;
    
}



.map {
    width: 100%;
    max-width: 1520px;
    height: 450px;
    border-radius: 20px;
    margin-bottom: 40px;

}

.legend {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 80px;
    margin-top: 80px;
    flex-wrap: wrap;
    margin: auto;
}

.legend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Fors Trial Rg';
    color: #444;
    max-width: 90px;
}

.legend-item img {
    height: 60px;
    width: auto;
    display: block;
}


.day-title {
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin: 60px 0;
    color: #222;
}

.card {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
   
}

.card-left {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-right {
    width: 55%;
    position: relative;
    padding-left: 40px;
}

[class^="image-box"] {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #ddd;
    margin-bottom: 15px;
}


.image-box1 { background-image: url(../images/sobor.png); }
.image-box2 { background-image: url(../images/museum.png); }
.image-box3 { background-image: url(../images/church.png); }
.image-box4 { background-image: url(../images/bird.png); }
.image-box5 { background-image: url(../images/logapark.png); }
.image-box6 { background-image: url(../images/lake.png); }
.image-box7 { background-image: url(../images/springs.png); }
.image-box8 { background-image: url(../images/tree.png); }
.image-box9 { background-image: url(../images/dunes.png); }

.coords {
    font-family: monospace;
    font-size: 16px;
    color: #777;
    text-align: center;
}

/* Линия таймлайна */
.timeline-line {
    position: absolute;
    left: 0;
    top: 10px;
    height: calc(210%);
    width: 4px;
    border-radius: 10px;
    background-color: #A64E2E;
}

.day-block .card:last-child .timeline-line {
    display: none;
}

.card-title {
    font-size: 28px;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #222;
}

.card-desc {
    font-size: 18px;
    line-height: 1.5;
    color: #444;
    margin-bottom: 25px;
    max-width: 90%;
    font-family: 'Fors Trial Rg';
}

.card-meta {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}
.card-meta img { width: 24px; height: 24px; }
.meta-top { margin-bottom: 15px; }

/* FOOTER */
.footer {
    display: flex;
    background-color: #B3431D;
    min-height: 280px;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    z-index: 11;
    padding: 20px 0;
}

.footer__container {
    width: 100%;
    max-width: 1520px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.footer__contacts {
    display: flex;
    gap: 20px;
}
.footer__logo_hse img { max-width: 100%; height: auto; display: block; }


@media (max-width: 768px) {
    

    .header {
        min-height: 100vh; 
        padding: 0;
        align-items: center;
        background-image: url(../images/bg__mobile.png);
    }

    .header__menu {
        display: none;
    }

 
    .mobile-nav-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: absolute;
        top: 40px; 
        left: 0;
        width: 100%;
        padding: 0 25px;
        z-index: 2000;
        box-sizing: border-box;
    }

    
    .mobile-logo img {
        width: 40px; 
        height: auto;
    }

    
    .mobile-burger {
        width: 50px;
        height: 50px;
        background-image: url(../images/bg_menu.png); 
        border-radius: 50%; 
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        cursor: pointer;
    }

  
    .burger-lines {
        width: 20px;
        height: 14px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .burger-lines span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        border-radius: 2px;
    }

   
    .menu-wrapper {
        position: relative;
    }

    .simple-dropdown {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        min-width: 180px;
        border-radius: 15px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        padding: 10px 0;
        flex-direction: column;
    }
    
    .simple-dropdown.show { display: flex; }

    .simple-dropdown a {
        color: black;
        text-decoration: none;
        padding: 15px 20px;
        font-size: 16px;
        border-bottom: 1px solid #f0f0f0;
        font-family: 'Fors Trial Rg';
    }
    .simple-dropdown a:last-child { border-bottom: none; }


    .header__container {
        justify-content: center;
        padding: 0 25px;
    }

    .header__text {
        margin-top: 0;
        text-align: left;
    }

    .header__title h1 {
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .header__description p {
        font-size: 18px;
        line-height: 1.4;
    }

   
    .main-container {
        border-radius: 30px;
        padding-bottom: 30px;
    }

    .container { padding: 30px 20px; }
    
    .characteristics {
        background-image: url(../images/mobile_bg.svg);

    }

   
    .card {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 50px;
    }

    .card-left, .card-right {
        width: 100%;
        padding: 0;
    }

    
    .timeline-line { display: none; }

    .day-title { font-size: 36px; margin: 40px 0; }
    .card-title { font-size: 24px; }
    
    [class^="image-box"] { height: 250px; }


    .footer__container {
        flex-direction: column;
        gap: 20px;
    }
    .legend {max-width: 300px;}
    .footer__logo_hse {
        max-width:200px ;
    }
    .header__container {
        justify-content: flex-start; 
        padding: 0 20px;
        padding-top: 200px; 
        height: 100%; 

    .header__text {
        margin-top: 0;
        text-align: left; 
        width: 100%; 
    }

    .header__title h1 {
        font-size: 32px; 
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 15px; 
        color: white; 
    }

    
    .header__description p {
        font-size: 16px; 
        font-weight: 300;
        line-height: 1.4;
        margin-top: 0;
        max-width: 90%; 
        color: white;
    }
   
}}